<form ng-submit=createBatch() style="margin-top:30px;">
	<h3>Add a new Batch</h3>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Name" ng-model="batch_name">
	</div>
	<div class="form-group">
		<input type="date" class="form-control" placeholder="Batch Start Date" ng-model="batch_start_date">
	</div>
	<div class="form-group">
		<input type="date" class="form-control" placeholder="Batch End Date" ng-model="batch_end_date">
	</div>
	<div class="form-group">
		<input type="time" class="form-control" placeholder="Batch Start Time" ng-model="batch_start_time">
	</div>
	<div class="form-group">
		<input type="time" class="form-control" placeholder="Batch End Time" ng-model="batch_end_time">
	</div>
	<button class="btn btn-default" type="submit">Create Batch</button>
<form>