<div class="well">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<h1>{{batch.name}}</h1>
			<strong>Start Date:</strong> {{batch.batch_start_date}} <br>
			<strong>End Date:</strong> {{batch.batch_end_date}} <br>
			<strong>Start Time:</strong> {{batch.batch_start_time}} <br>
			<strong>End Time:</strong> {{batch.batch_end_time}} <br>
		</div>
	</div>
</div>
<h1>Enrolled Students</h1>

<table class="table table-hover">
	<tr>
		<th>Id</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>BirthDate</th>
		<th colspan="2"></th>
	</tr>
	<tr ng-repeat="student in enrolled_students">
		<span ng-if="student.enrolled">
			<td>{{student.id}}</td>
			<td>{{student.first_name}}</td>
			<td>{{student.last_name_string}}</td>
			<td>{{student.email}}</td>
			<td>{{student.birthdate}}</td>
			<td><a ng-click="unenrollStudent(student)">Un Enroll</a></td>
		</span>
	</tr>
</table>

<strong>Enroll New Student:</strong>
<select ng-model="selected_model_id">
	<option ng-repeat="student in all_students"
        value="{{student.id}}">{{student.first_name}} - {{student.first_name}} </option>
</select>

<button class="btn btn-default" ng-click="enrollStudent(selected_model_id)">Enroll</button>