<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th colspan="2"></th>
	</tr>

	<tr ng-repeat="batch in batch_list">
		<td>{{batch.name}}</td>
		<td>{{batch.batch_start_date}}</td>
		<td>{{batch.batch_end_date}}</td>
		<td>{{batch.batch_start_time}}</td>
		<td>{{batch.batch_end_time}}</td>
		<td><a href="#/batch/show/{{batch.id}}">Show</a></td>
	</tr>
</table>