<div class="well text-center">
		<h1>Available Courses</h1>
</div>
<span>
	<a href="#/courses/create">Create Course</a>
</span>
<table class="table table-hover">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Description</th>
		<th colspan="2"></th>
	</tr>
	<tr ng-repeat="course in courses">
		<td>{{course.id}}</td>
		<td>{{course.name}}</td>
		<td>{{course.description}}</td>
		<td><a href='#/courses/show/{{course.id}}'>Show</a></td>
	<tr>
</table>