<div class="well">
	<div class = "row">
	<div class="col-md-6 col-md-offset-1">
	<h1>{{course.name}}</h1>
	<strong>Id:</strong> {{course.id}}<br>
	<strong>Name:</strong> {{course.name}}<br>
	<strong>Description:</strong> {{course.description}}
	</div>
	</div>
</div>
<span>
	<a href="#/courses/{{course.id}}/batch/create">Create Batch</a>
</span>
<h1>List of Batches</h1>
 <div ng-include="'batches/_batches_show.html'"></div>