<form ng-submit=createCourse() style="margin-top:30px;">
	<h3>Add a new Course</h3>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Name" ng-model="name">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Description" ng-model="description">
	</div>
	
	<button class="btn btn-default" type="submit">Create Course</button>
<form>