<form ng-submit=createStudent() style="margin-top:30px;">
	<h3>Add a new Student</h3>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="First Name" ng-model="first_name">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Last Name" ng-model="last_name">
	</div>
	<div class="form-group">
		<input type="date" class="form-control" placeholder="Bith Date" ng-model="birth_date">
	</div>
	<div class="form-group">
		<input type="email" class="form-control" placeholder="EMail" ng-model="email">
	</div>
	<button class="btn btn-default" type="submit">Create Student</button>
<form>