<span>
	<a href="#/students/create">Create Student</a>
</span>
<table class="table table-hover">
	<tr></tr>
	<tr ng-repeat="student in all_students">
		<td>{{student.id}}</td>
		<td>{{student.first_name}}</td>
		<td>{{student.last_name_string}}</td>
		<td>{{student.email}}</td>
		<td>{{student.birthdate}}</td>
	</tr>
</table>