<div ng-controller="NavCtrl">
<nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
	  <a class="navbar-brand" ui-sref="#">Course Management</a>
	</div>
  <ul class="nav navbar-nav">
	<li><a href="#/courses">Courses</a></li>
	<li><a href="#/students">Students</a></li>
	<li><a href="#/instructors">Instructors</a></li>
    <li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
    <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
    <li ng-show="signedIn()"><a href="#/">{{user.username }}</a></li>
    <li ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
  </ul>
</nav>
</div>