<!DOCTYPE html>
<html>
<head>
  <title>CourseManagementSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body ng-app="cms">
	<!-- NAVIGATION -->
    <div ng-include="'nav/_nav.html'"></div>
	<!--<nav class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	        <a class="navbar-brand" ui-sref="#">Course Management</a>
	    </div>
	    <ul class="nav navbar-nav">
	        <li><a href="#/home">Home</a></li>
	        <li><a href="#/courses">Courses</a></li>
	        <li><a href="#/students">Students</a></li>
	        <li><a href="#/instructors">Instructors</a></li>
	    </ul>
	</nav>-->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
  			<div ng-view></div>
		</div>
		</div>

</body>
</html>
